<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <img class="logo_icon img-responsive" src="/Content/images/SGU-LOGO.png" alt="#" />
            </div>
            </div>
            <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="/Content/images/SGU-LOGO.png" alt="#" /></div>
                <div class="user_info">
                    <h6>Đại học Sài Gòn</h6>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>Tính năng</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/Thongbao/List"><i class="fas fa-bell yellow_color"></i> <span>Quản lý thông báo</span></a>
            </li>
            <li>
                <a href="/Sinhvien/List"><i class="fas fa-user-graduate blue2_color"></i><span>Danh sách sinh viên</span></a>
            </li>
            <li>
                <a href="/Lop/List"><i class="fas fa-chalkboard purple_color2"></i></i> <span>Danh sách lớp</span></a>
            </li>
            <li>
                <a href="/Khoa/List"><i class="fas fa-building green_color"></i> <span>Danh sách khoa</span></a>
            </li>
            <li>
                <a href="/Dkmh/List"><i class="fas fa-book red_color"></i> <span>Danh sách môn học</span></a>
            </li>
            <li>
                <a href="/Diem/List"><i class="fas fa-gem purple_color"></i> <span>Quản lý điểm số</span></a>
            </li>
            <li>
                <a href="/lichthi/List"><i class="fa fa-calendar red_color" aria-hidden="true"></i> <span>Quản lý lịch thi</span></a>
            </li>
            <li>
                <a href="/Tailieu/List"><i class="fas fa-file-alt green_color"></i> <span>Quản lý tài liệu</span></a>
            </li>
            <li>
                <a href="/Nienkhoa/List"><i class="fas fa-question-circle yellow_color"></i></i> <span>Thông tin niên khóa</span></a>
            </li>
            <li>
                <a href="/Ykien/List"><i class="fa fa-comments orange_color" aria-hidden="true"></i> <span>Ý kiến của sinh viên</span></a>
            </li>       
        </ul>
    </div>
</nav>