<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <img class="logo_icon img-responsive" src="/Content/images/SGU-LOGO.png" alt="#" />
            </div>
            </div>
            <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="/Content/images/SGU-LOGO.png" alt="#" /></div>
                <div class="user_info">
                    <h6>Đại học Sài Gòn</h6>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>Tính năng</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/Home/Index"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
            </li>
            <li>
                <a href="/Dkmh/Index"><i class="fa fa-book orange_color" aria-hidden="true"></i><span>Đăng ký môn học</span></a>
            </li>
            <li>
                <a href="/Thoikhoabieu"><i class="fa fa-table blue2_color" aria-hidden="true"></i> <span>Xem thời khóa biểu</span></a>
            </li>
            <li>
                <a href="/Diem/Index"><i class="fa fa-certificate purple_color" aria-hidden="true"></i> <span>Xem điểm</span></a>
            </li>
            <li>
                <a href="/lichthi"><i class="fa fa-calendar red_color" aria-hidden="true"></i> <span>Xem lịch thi</span></a>
            </li>
            <li>
                <a href="/Hocphi/Index"><i class="fa fa-money green_color" aria-hidden="true"></i> <span>Xem học phí</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-comments purple_color2" aria-hidden="true"></i> <span>Ý kiến sinh viên</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-check-circle-o yellow_color" aria-hidden="true"></i> <span>Khảo sát đánh giá</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-graduation-cap blue1_color" aria-hidden="true"></i> <span>Tra cứu thông tin tốt nghiệp</span></a>
            </li>
            <li>
                <a href="/Tailieu"><i class="fa fa-book green_color" aria-hidden="true"></i> <span>Tài liệu</span></a>
            </li>
            <li>
                <a href="/Giasuao"><i class="fa fa-android purple_color" aria-hidden="true"></i> <span>Gia sư ảo</span></a>
            </li>
        </ul>
    </div>
</nav>