<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
    <title>Cổng thông tin đào tạo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/images/SGU-LOGO.png" type="image/png" />
      <!-- bootstrap css -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
      <!-- responsive css -->
    <link rel="stylesheet" href="/Content/css/responsive.css" />
      <!-- color css -->
    <link rel="stylesheet" href="/Content/css/color_2.css" />
      <!-- select bootstrap -->
    <link rel="stylesheet" href="/Content/css/bootstrap-select.css" />
      <!-- scrollbar css -->
    <link rel="stylesheet" href="/Content/css/perfect-scrollbar.css" />
      <!-- custom css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link rel="stylesheet" href="/Content/css/signinform.css">
   </head>
   <body onload="Warning()" class="inner_page login">
      <div class="overlay">     
        <div class="container">
            {{{body}}}
        </div>
      </div>
   </body>
</html>