<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="inbox-head">
                <h3>Thu học phí</h3>
                <form action="#" class="pull-right position search_inbox">
                    <div class="input-append">
                        <select class="sr-input" name="cars" id="cars">
                            <option value="faculty">Lọc theo khoa</option>
                            <option value="class">Lọc theo lớp</option>
                            <option value="subject">Lọc theo môn học</option>
                        </select>
                        <input type="text" class="sr-input" name="search" list="searchlist" placeholder="Tìm kiếm">
                        <datalist id="searchlist">
                            <option value="841408-Kiểm thử phần mềm">  
                            <option value="841108-Cấu trúc dữ liệu và giải thuật">
                        </datalist>
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>STT</th>
                            <th>Niên học học kỳ</th>
                            <th>Học phí chưa giảm</th>
                            <th>Miễn giảm</th>
                            <th>Phải thu</th>
                            <th>Đã thu</th>
                            <th>Còn nợ</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>0</td>
                                <td>Học kỳ 1 2020-2021</td>
                                <td>7030000</td>
                                <td>0</td>
                                <td>7030000</td>
                                <td>4050000</td>
                                <td>2980000</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>   