<!-- right content -->
    <!-- dashboard inner -->
    <div class="midde_cont">
       <div class="container-fluid">
          <div class="row column_title">
             <div class="col-md-12">
                <div class="page_title">
                   <h2>Tổng quan</h2>
                </div>
             </div>
          </div>         
          <div class="row column1 social_media_section">
             <div class="col-md-6 col-lg-3">
                <div class="full socile_icons fb margin_bottom_30">
                   <div class="social_icon">
                      <h1 style="color: white;">Điểm số</h1>
                   </div>
                   <div class="social_cont">
                      <ul>
                         <li>
                            <span>Hệ 10 <strong>8.8/10</strong></span>
                         </li>
                         <li>
                            <span>Hệ 4 <strong>3,2/4</strong></span>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-lg-3">
                <div class="full socile_icons tw margin_bottom_30">
                   <div class="social_icon">
                      <h1 style="color: white;">Học lực</h1>
                   </div>
                   <div class="social_cont">
                      <ul>
                         <li>
                            <span>Xếp loại: <strong>Khá</strong></span>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-lg-3">
                <div class="full socile_icons linked margin_bottom_30">
                   <div class="social_icon">
                      <h1 style="color: white;">Số tín chỉ tích lũy</h1>
                   </div>
                   <div class="social_cont">
                      <ul>
                         <li>
                            <span><strong>120</strong></span>
                            <span>Đã hoàn thành</span>
                         </li>
                         <li>
                            <span><strong>35</strong></span>
                            <span>Chưa hoàn thành</span>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-lg-3">
                <div class="full socile_icons google_p margin_bottom_30">
                   <div class="social_icon">
                      <h1 style="color: white;">Học phí đã đóng</h1>
                   </div>
                   <div class="social_cont">
                      <ul>
                         <li>
                            <span><strong>50</strong></span>
                            <span>Triệu</span>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
          <div class="row column4 graph">
             <div class="col-md-6 margin_bottom_30">
                <div class="dash_blog">
                   <div class="dash_blog_inner">
                      <div class="dash_head">
                         <h3><span><i class="fa fa-bell-o"></i> Thông báo mới</span></h3>
                      </div>
                      <div class="task_list_main">
                         <ul class="task_list">
                            <li><a href="#">Đăng ký môn học Học kỳ II, 2023-2024</a><br><strong>10:00 AM</strong></li>
                            <li><a href="#">Kỳ thi kết thúc học phần HK I, 2023-2024 (cập nhật ngày 20/12/2023)</a><br><strong>10:00 AM</strong></li>
                            <li><a href="#">Thông báo đăng ký môn học Học kỳ II, năm học 2023-2024</a><br><strong>11:00 AM</strong></li>
                            <li><a href="#">Đăng ký môn học (đợt bổ sung)</a><br><strong>10:00 AM</strong></li>
                            <li><a href="#">Thông báo đóng học phí học kỳ II, 2023-2024</a><br><strong>02:00 PM</strong></li>
                         </ul>
                      </div>
                      <div class="read_more">
                         <div class="center"><a class="main_bt read_bt" href="#">Xem tiếp</a></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dash_blog">
                   <div class="dash_blog_inner">
                      <div class="dash_head">
                         <h3><span><i class="fa fa-info-circle" aria-hidden="true"></i> Biểu mẫu và hướng dẫn</span></h3>
                      </div>
                      <div class="msg_list_main">
                         <ul class="msg_list">
                            <li>                              
                               <span>
                                 <a href="https://thongtindaotao.sgu.edu.vn/#/home/listbaiviet/bm/page/1/baivietct/-7998567345601580803">
                                    <span class="name_user">Đơn học cải thiện bằng học phần (tự chọn) tương đương</span>
                                    <span class="msg_user">Đơn tường trình v/v học cải thiện bằng học phần (tự chọn) tương đương</span>
                                 </a>
                               </span>
                            </li>
                            <li>                              
                               <span>
                                 <a href="https://thongtindaotao.sgu.edu.vn/#/home/listbaiviet/bm/page/1/baivietct/-8736906028469397357">
                                    <span class="name_user">Đơn quy đổi mã học phần</span>
                                    <span class="msg_user">Đơn tường trình v/v đăng ký học phần quy đổi</span>
                                 </a>
                               </span>
                            </li>
                            <li>                     
                               <span>
                                 <a href="https://thongtindaotao.sgu.edu.vn/#/home/listbaiviet/bm/page/1/baivietct/-8255283746820628900"></a>
                                    <span class="name_user">Đơn xin phúc khảo bài thi</span>
                                 </a>
                               </span>                              
                            </li>
                            <li>                               
                               <span>
                                 <a href="https://thongtindaotao.sgu.edu.vn/#/home/listbaiviet/hd/page/1/baivietct/-8602058588597376021"></a>
                                    <span class="name_user">Hướng dẫn ĐKMH trực tuyến</span>
                                    <span class="msg_user">Hướng dẫn sinh viên đăng ký môn học trực tuyến tại web Thông tin đào tạo</span>
                                 </a>
                               </span>
                            </li>
                            <li>                               
                               <span>
                                 <a href="https://thongtindaotao.sgu.edu.vn/#/home/listbaiviet/hd/page/1/baivietct/-8221789385917928100">
                                    <span class="name_user">Những điểm cần lưu ý khi ĐKMH</span>
                                    <span class="msg_user">Những điểm SV cần lưu ý khi tham gia ĐKMH qua mạng</span>
                                 </a>
                               </span>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end dashboard inner -->
 </div>
</div>
</div>
<!-- jQuery -->
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>
