<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Học kỳ 1 - Năm học 2023-2024</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>Mã Môn Học</th>
                            <th>Tên Môn Học</th>
                            <th>Nhóm</th>
                            <th>Tổ</th>
                            <th>Số tín chỉ</th>
                            <th>Lớp</th>
                            <th>Thứ</th>
                            <th>Tiết BĐ</th>
                            <th>Số tiết</th>
                            <th>Phòng</th>
                            <th>Giảng viên</th>
                            <th>Thời gian học</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>841408</td>
                            <td>30</td>
                            <td>22/12/2023</td>
                            <td>12:30</td>
                            <td>C.C505</td>
                            <td>C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>   